.big-card-container{
  height: 450px;
  padding: 10px;
  margin-left: 150px;
  margin-right: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.big-card-title{
  margin-left: 10px;
  font-size: 20px;
  margin-top: 20px;

}
.big-card-title a{
  text-decoration: none;
}

.big-card-title a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.big-card-description{
  margin-left: 10px;
}

.big-card-description p{
  color: grey;
  margin-top: 10px;
}

.big-card-description a{
  text-decoration: none;
}

.big-card-img{
  width: 100%;
}

.big-card-img img{
  width: 300px;
  height: 200px;
  border: 1px solid grey;
}
