<div class="big-card-container">
  <div class="big-card-img">
    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" height= "200px" width="300px" alt="">
  </div>
  <div class="big-card-title">
    <a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</a>
  </div>
  <div class="big-card-description">
    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut felis urna.
      Aenean sed ex pretium, pharetra tortor vel, fermentum dolor. Sed nulla nibh,
      convallis et condimentum at, imperdiet ut purus. Morbi laoreet arcu id lacus volutpat
      sollicitudin. Integer fringilla aliquam ligula, id pharetra sem consequat non.</p>
  </div>
</div>
