.menu-title-container{
  color: #fff;
}
#menu-title{
  margin: 10px 0 10px 0;
  font-size: 135px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

