.small-card-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-right: 100px;
  margin-top: 10px;
}

.small-card-img img{
  width: 200px;
  height: 110px;
  min-width: 200px;
  margin-right: 10px;
  border: 1px solid grey;
}
.small-card-title a{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.small-card-title a:hover{
  text-decoration: underline;
}

.small-card-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

hr{
  margin: 10px 100px 10px 0;
}
