.content-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.content-title{
  text-align: center;
}
.content-img img{
  border: 2px solid grey;
  border-radius: 5px;
  width: 400px;
  min-width: 400px;
  height: 250px;
}

.content-description{
  margin: 15px;
}

.content-description p{
  color: rgb(167, 164, 164);
}

.back-home{
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-home hr{
  width: 100%;
}

.back-home a{
  text-decoration: none;
}
