
<app-menu-title></app-menu-title>

<div class="articles-container">
  <div class="main-article">

    <app-big-card id = "1"
    image="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet"
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Integer ut felis urna. Aenean sed ex pretium, pharetra tortor vel, fermentum dolor.
    Sed nulla nibh, convallis et condimentum at, imperdiet ut purus. Morbi laoreet arcu id
    lacus volutpat sollicitudin. Integer fringilla aliquam ligula, id pharetra sem consequat non"></app-big-card>

  </div>
  <div class="other-articles">
    <app-small-card id = "2"
    image="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet"></app-small-card>
    <app-small-card id = "3"
    image="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet"></app-small-card>
    <app-small-card id = "4"
    image="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    cardTitle="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet"></app-small-card>
  </div>
</div>


